html {
    background-color: #f7f7f7;
}

img {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    /* position: relative;
    z-index: -1;
    opacity: .075;
    background: url(../images//bg_visual.png); */
}

.label-target {
    font-size: .7rem;
    border-width: 5px;
    padding: 10px;
    border-image-source: url(../images/btnborderdk.png);
    border-image-repeat: stretch;
    border-image-slice: 40;
    border-image-width: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 6px;
    font-weight: 400;
    text-align: center;
    font-family: Roboto,sans-serif;
    opacity: 0.4;
    cursor: pointer;
}

.is-show {
    display: block !important;
}

.is-choose {
    opacity: 1 !important;
}